[workspace]
resolver = "2"
members = [
  "contracts/pifp_protocol",
  "backend/indexer",
  "backend/oracle",
]

[profile.release]
opt-level = "z"
strip = true
lto = true
codegen-units = 1
panic = "abort"
overflow-checks = true
